# üßπ Project 1: Data Cleaning with Pandas

In [ ]:

import pandas as pd
import numpy as np

# Create a sample dataset with missing values
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, np.nan, 30, 22, np.nan],
    'Salary': [50000, 60000, np.nan, 52000, 58000]
}

df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

# Handle missing values
df['Age'].fillna(df['Age'].mean(), inplace=True)
df['Salary'].fillna(df['Salary'].mean(), inplace=True)

print("\nCleaned DataFrame:")
print(df)

# üóÑÔ∏è Project 2: SQL Analysis with SQLite

In [ ]:

import sqlite3

# Connect to in-memory database
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Create table
cursor.execute('''CREATE TABLE employees (id INT, name TEXT, dept TEXT, salary INT)''')

# Insert data
cursor.executemany('INSERT INTO employees VALUES (?,?,?,?)', [
    (1, 'Alice', 'HR', 50000),
    (2, 'Bob', 'IT', 60000),
    (3, 'Charlie', 'Finance', 55000),
    (4, 'David', 'IT', 65000),
    (5, 'Eve', 'HR', 52000),
])

# Query
print("Employees in IT Department:")
for row in cursor.execute("SELECT name, salary FROM employees WHERE dept='IT'"):
    print(row)

# Aggregation
print("\nAverage Salary by Department:")
for row in cursor.execute("SELECT dept, AVG(salary) FROM employees GROUP BY dept"):
    print(row)

conn.close()

# üìä Project 3: Data Visualization

In [ ]:

import matplotlib.pyplot as plt
import seaborn as sns

# Sample dataset
tips = sns.load_dataset("tips")

# Scatter plot
plt.figure(figsize=(6,4))
sns.scatterplot(x="total_bill", y="tip", data=tips)
plt.title("Scatterplot of Total Bill vs Tip")
plt.show()

# Correlation heatmap
plt.figure(figsize=(6,4))
sns.heatmap(tips.corr(), annot=True, cmap="coolwarm")
plt.title("Correlation Heatmap")
plt.show()

# üìë Project 4: Excel to Python Data Analysis

In [ ]:

# Simulate reading Excel (we'll just use DataFrame directly here)
sales_data = pd.DataFrame({
    "Region": ["North", "South", "East", "West", "North", "South"],
    "Sales": [2500, 3000, 2000, 4000, 2800, 3300],
    "Profit": [400, 500, 300, 700, 450, 600]
})

print("Sales Data:")
print(sales_data)

# Group by Region
region_summary = sales_data.groupby("Region").agg({"Sales":"sum", "Profit":"sum"})
print("\nRegion-wise Summary:")
print(region_summary)

# üèÜ Project 5: Capstone Project (End-to-End Analysis)

In [ ]:

# Simulated dataset for capstone
capstone_data = pd.DataFrame({
    "CustomerID": range(1,11),
    "Age": [23, 35, 45, 29, 33, 41, 50, 28, 39, 31],
    "SpendingScore": [77, 62, 85, 45, 70, 55, 90, 40, 65, 59],
    "Income": [40000, 52000, 61000, 45000, 48000, 60000, 75000, 42000, 58000, 50000]
})

print("Capstone Dataset:")
print(capstone_data.head())

# Insights: Average spending score by age group
capstone_data['AgeGroup'] = pd.cut(capstone_data['Age'], bins=[20,30,40,50,60], labels=['20-30','30-40','40-50','50-60'])
avg_spending = capstone_data.groupby("AgeGroup")["SpendingScore"].mean()
print("\nAverage Spending Score by Age Group:")
print(avg_spending)

# Visualization
plt.figure(figsize=(6,4))
avg_spending.plot(kind="bar", color="skyblue")
plt.title("Average Spending Score by Age Group")
plt.ylabel("Spending Score")
plt.show()